<html>
<title> Здесь вы найдёте разные гайд и прочую полезную информацию о играх таких как Generals, Minecraft, PW </title>
<head>
</head>
<body>
<p><a href="URL">Гайды по PW</a></p>
<p><a href="URL">Гайды по Generals</a></p>
<p><a href="URL">Гайды по Minecraft</a></p>
</body>
</html>